<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="NUnitContrib.Web.TestRunner.Pipelines.RunnerConfig, NUnitContrib.Web.TestRunner" />
      </initialize>
    </pipelines>
    <settings>
      <setting name="NUnitTestRunnerEnabled" value="false" />

      <setting name="NUnitTestRunnerRoute" value="testrunner"/>
      <!--<add key="NUnitTestRunnerRoute" value="tests"/>-->

      <setting name="NUnitTestRunnerPath" value="NUnitContrib.Web.TestExamples.dll"/>
      <!--<add key="NUnitTestRunnerPath" value="C:\Projects\TestRunner\src\TestExamples\bin\Debug\NUnitContrib.Web.TestExamples.dll"/>-->

      <setting name="NUnitTestRunnerResultPath" value="TestResult.xml"/>
      <!--<add key="NUnitTestRunnerResultPath" value="C:\Temp\TestResult.xml"/>-->
    </settings>
  </sitecore>
</configuration>