<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="NUnitContrib.Web.TestRunner.Pipelines.RunnerConfig, NUnitContrib.Web.TestRunner" />
      </initialize>
    </pipelines>
    <settings>
      <!-- NUnitTestRunnerEnabled: Determines if the test runner is enabled or not. Set to 'true' to enable the test runner -->
      <setting name="NUnitTestRunnerEnabled" value="false" />

      <!-- NUnitTestRunnerRoute: The URL the test runner is available on. -->
      <setting name="NUnitTestRunnerRoute" value="testrunner"/>

      <!-- NUnitTestRunnerPath: The name of the assembly within the bin folder to run -->
      <setting name="NUnitTestRunnerPath" value="NUnitContrib.Web.TestExamples.dll"/>

      <!-- NUnitTestRunnerResultPath: Path to create the test result file at, relative to the test assembly -->
      <setting name="NUnitTestRunnerResultPath" value="TestResult.xml"/>
    </settings>
  </sitecore>
</configuration>