<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="NUnitContrib.Web.TestRunner.Pipelines.RunnerConfig, NUnitContrib.Web.TestRunner">
          
          <!-- Determines if the test runner is enabled or not. Set to 'true' to enable the test runner -->
          <enabled>false</enabled>
          
          <!-- The MVC Route name where the test runner will be registered -->
          <routeName>RunnerHandler</routeName>
          
          <!-- The URL the test runner is available on. -->
          <routePath>testrunner</routePath>
          
          <!-- The assemblies within the bin folder containing your NUnit tests -->
          <assemblies hint="list">
            <assembly id="1">NUnitContrib.Web.TestExamples</assembly>
            <assembly id="2">NUnitContrib.Web.TestExamples2</assembly>
          </assemblies>
          
          <!-- Path to create the test result file, relative to the test assembly. Omit to disable file output. -->
          <resultPath>$(dataFolder)\TestResult.xml</resultPath>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>